/* || GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --standard-bg: #272727;
    --standard-text: #febf2e;
    --standard-light: #c6c6be;
    --standard-highlight: #f9f9f9;
    --standard-shadow: #151515;
    --standard-border: #d9d9d3;

    --btn-setting-inactive: #1785c0;
    --btn-setting-active: #febf2e;
    --btn-text-inactive: #fff;
    --btn-text-active: #000;

    /* Game area & buttons */
    --circle-bg: #d2d2cb;

    --btn-red: rgba(184, 0, 0, 1);
    --btn-yellow: rgba(184, 184, 0, 1);
    --btn-blue: rgba(0, 0, 184, 1);
    --btn-green: rgba(0, 184, 0, 1);
    --btn-purple: rgba(184, 0, 184, 1);
    --btn-orange: rgba(184, 125, 0, 1);
    --btn-inactive: #626262;

    --btn-red-active: rgba(241, 57, 57, 1);
    --btn-yellow-active: rgba(244, 244, 0, 1);
    --btn-blue-active: rgba(0, 90, 224, 1);
    --btn-green-active: rgba(0, 224, 0, 1);
    --btn-purple-active: rgba(224, 0, 224, 1);
    --btn-orange-active: rgba(224, 153, 0, 1);
}

body {
    font-family: Nunito;
    font-size: 1.25rem;
    background-color: var(--standard-bg);
    color: var(--standard-text);
}

.hide-element {
    display: none;
}

.show-element {
    display: inherit;
}


#title,
#score {
    position: absolute;
    display: inline-block;
}

#title {
    margin-top: -4rem;
    z-index: 1;
    font-size: 5rem;
}

#score {
    text-transform: uppercase;
    bottom: 0;
    margin-bottom: -1rem;
    z-index: 1;
    font-size: 2rem;
}

#score p {
    display: inline-block;
}

.glow {
    text-shadow: 0 0 2px #000, 0 0 10px #000, 0 0 25px var(--standard-text);
}

.dimmed {
    text-shadow: 0 0 4px #000, 0 0 10px var(--standard-text);
}

h2 {
    font-size: 1.75rem;
}

#score-mp {
    text-align: center;
    letter-spacing: 3px;
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 3rem;
    display: inline-block;
}

legend {
    font-size: 1.5rem;
    padding: 0.25rem 0.75rem 0.25rem 0.5rem;
    margin-left: -1rem;
    background: #24aff9;
    border-radius: 0.5rem;
}

/* || MENU */
/* || MENU > SETTINGS */
#menu-settings,
#menu-help {
    min-width: 25%;
    max-width: 35%;
    color: var(--standard-bg);
    position: fixed;
    padding: 2rem;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: var(--standard-light);
    border-radius: 1rem;
    box-shadow: 0 0 2rem var(--standard-shadow), 2px 2px 0.15rem var(--standard-shadow);
    background-image: url('/assets/images/general/arrow_test.png');
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: 83.8%;
    z-index: 2;
}

#menu-help p {
    margin-top: 1rem;
}

#menu-help li {
    list-style-type: circle;
    list-style-position: inside;
}

fieldset {
    border: 1px solid #aaaa9d;
    border-radius: 0.5rem;
    padding: 1rem 1rem 1rem 2rem;
    margin-top: 2rem;
    background-color: #BDBDB3;
}

.setting-row,
.menu-headline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.fa-times {
    font-size: 2rem;
}



.button-container {
    padding-right: 1rem;
}

/* || ELEMENTS */
/* || ELEMENTS > BUTTONS */


/* s stands for side, e stands for edge */
button.es {

    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

button.se {

    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}


button:hover {
    background-color: #000;
    color: #fff;
}

button.activation {
    background-color: #f00;
    color: #fff;
}

button.active {
    background-color: var(--standard-text);
    color: #000;
}

button.closer {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.75rem;
    text-align: center;
}


footer li {
    display: inline-block;
}

.socials a {
    padding: 0 1rem 0 1rem;
    font-size: 2rem;
    color: var(--btn-inactive);
    display: block;
    height: 3rem;
}

.socials a:hover {
    color: var(--standard-light);
    text-shadow: 0 0 1px var(--standard-light);
}

/* testing */
#game-area {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 640px;
    height: 640px;
    border-radius: 50%;
    z-index: 0;
}

.difficulty {
    width: 100%;
    height: 2rem;
    color: var(--standard-light);
    background-color: #3D3D3D;
    font-weight: bold;
}

.status {
    background: transparent;
    width: 100%;
    font-size: 3rem;
}

.status:hover {
    background: transparent;
    color: #fff;
    text-shadow: 0 0 5px #fff;
}

button:hover {
    cursor: pointer;
}

#btn-status {
    margin-left: 1rem;
    color: var(--btn-setting-inactive);
}

#btn-status:hover {
    color: var(--btn-setting-active);
    text-shadow: 0 0 7px var(--btn-setting-active);
}

#middle {
    box-sizing: border-box;
    display: flex;
    width: 256px;
    height: 256px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    border: 1rem solid transparent;
}

#difficulty-selection,
#in-game-info {

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 256px;
}

#difficulty-selection {
    row-gap: 4rem;
}

#difficulty-selection div,
#in-game-info div {
    width: 100%;
}

#difficulty-selection button {
    display: block;
    text-transform: uppercase;
    font-size: 1.25rem;
    height: 2.5rem;
}


#in-game-info {
    position: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    row-gap: 3rem;
}

#in-game-info p {
    color: var(--standard-light);
    font-size: 1rem;
    display: block;
    width: 100%;
}


.game-circle-outer {
    fill: var(--btn-inactive);
}

.game-circle-bg {
    fill: var(--standard-bg);
}

.svg-btn {
    position: absolute;
}

#outer {
    width: 608px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 1rem;
}

#end-of-game-status,
#in-game-status {
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#end-of-game-status {
    font-size: 2.25rem;
}

#in-game-status {
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

.controls {
    font-size: 4rem;
    background-color: transparent;
    color: var(--standard-light);
}

.controls:hover {
    color: #fff;
    text-shadow: 0 0 7px var(--btn-setting-active);
    background-color: transparent;
}

/* GAME BUTTONS */
/* GAME BUTTON > STANDARD */
.one {
    fill: var(--btn-green);
    filter: drop-shadow(0 0 5px var(--btn-green));
}

.two {
    fill: var(--btn-red);
    filter: drop-shadow(0 0 5px var(--btn-red));
}

.three {
    fill: var(--btn-blue);
    filter: drop-shadow(0 0 5px var(--btn-blue));
}

.four {
    fill: var(--btn-yellow);
    filter: drop-shadow(0 0 5px var(--btn-yellow));
}

.five {
    fill: var(--btn-purple);
    filter: drop-shadow(0 0 5px var(--btn-purple));
}

.six {
    fill: var(--btn-orange);
    filter: drop-shadow(0 0 5px var(--btn-orange));
}

.inactive {
    fill: var(--btn-inactive);
    filter: drop-shadow(0 0 3px var(--btn-inactive));
}

/* GAME BUTTON > HOVER */
.one:hover {
    filter: drop-shadow(0 0 10px var(--btn-green));
}

.two:hover {
    filter: drop-shadow(0 0 10px var(--btn-red));
}

.three:hover {
    filter: drop-shadow(0 0 10px var(--btn-blue));
}

.four:hover {
    filter: drop-shadow(0 0 10px var(--btn-yellow));
}

.five:hover {
    filter: drop-shadow(0 0 10px var(--btn-purple));
}

.six:hover {
    filter: drop-shadow(0 0 10px var(--btn-orange));
}

.inactive:hover {
    fill: var(--btn-inactive);
    filter: drop-shadow(0 0 3px var(--btn-inactive));
}

/* GAME BUTTON > PRESSED */
.one-pressed {
    fill: var(--btn-green-active);
    filter: drop-shadow(0 0 20px var(--btn-green-active));
}

.two-pressed {
    fill: var(--btn-red-active);
    filter: drop-shadow(0 0 20px var(--btn-red-active));
}

.three-pressed {
    fill: var(--btn-blue-active);
    filter: drop-shadow(0 0 20px var(--btn-blue-active));
}

.four-pressed {
    fill: var(--btn-yellow-active);
    filter: drop-shadow(0 0 20px var(--btn-yellow-active));
}

.five-pressed {
    fill: var(--btn-purple-active);
    filter: drop-shadow(0 0 20px var(--btn-purple-active));
}

.six-pressed {
    fill: var(--btn-orange-active);
    filter: drop-shadow(0 0 20px var(--btn-orange-active));
}